.intro-animation {
  img {
    display: none;
    width: 150px;
  }
  .intro-animation-frame-show {
    display: block;
  }
}

.intro-animation-fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.fade-in-bottom {
  > * {
    opacity: 0;
    overflow: hidden;
  }
  &.fade-in-bottom-start {
    > * {
      transform: translateY(20px);
      animation: fadeIn 0.2s ease forwards;
    }
  }
}

@keyframes fadeIn {
  to { 
    transform: translateY(0);
    opacity: 1;
  }
}
