<button
  data-lottie-trigger
  class="fixed top-0 l-0 cursor-pointer px-4 py-2 z-10 bg-white text-black rounded-sm m-2"
  aria-label="Play"
>
  Play
</button>

<div data-animation-container class="">
  <canvas data-animation-canvas class="h-dvh w-dvw"></canvas>
</div>

<script>
  import * as rive from "@rive-app/canvas";

  const isDev = import.meta.env.MODE === "development";

  const logger = {
    log: (...args: unknown[]) => {
      if (isDev) {
        console.log(...args);
      }
    },
  };

  async function init() {
    const canvas = document.querySelector(
      "[data-animation-canvas]"
    ) as HTMLCanvasElement | null;

    if (!canvas) {
      throw new Error("Canvas not found");
    }

    const r = new rive.Rive({
      src: "/miami/miami_v1.riv",
      canvas,
      autoplay: false,
      onLoad: () => {
        r.resizeDrawingSurfaceToCanvas();
      },
    });

    return r;
  }

  const button = document.querySelector("[data-lottie-trigger]");

  if (button) {
    const animation = await init();

    window.addEventListener("resize", () => {
      animation.resizeDrawingSurfaceToCanvas();
    });

    animation.on(rive.EventType.StateChange, (state) => {
      logger.log("State change", state);
      if (button) {
        button.textContent = animation.isPaused ? "Play" : "Pause";
      }
    });

    button?.addEventListener("click", () => {
      animation.isPaused ? animation.play() : animation.pause();
      button.textContent = animation.isPaused ? "Play" : "Pause";
    });
  }
</script>
