<button
  data-lottie-trigger
  class="fixed top-0 l-0 cursor-pointer px-4 py-2 z-10 bg-white text-black rounded-sm m-2"
  aria-label="Play"
>
  Play
</button>

<div data-lottie-container class="">
  <div data-lottie-animation class="h-dvh"></div>
</div>

<script>
  import {
    LottieScrollTrigger,
    fetchLottieData,
  } from "../../lib/miami/lottie-scroll";
  import { fetchAudioTrack } from "../../lib/miami/audio";

  const isDev = import.meta.env.MODE === "development";

  const logger = {
    log: (...args: any[]) => {
      if (isDev) {
        console.log(...args);
      }
    },
  };

  const [audioBlob, animationData] = await Promise.all([
    fetchAudioTrack("/miami/traccia.mp3"),
    fetchLottieData("/miami/lottie-no-audio.json"),
  ]);

  const durationPx = 3000;

  const animation = new LottieScrollTrigger({
    containerTarget: "[data-lottie-container]",
    animationTarget: "[data-lottie-animation]",
    animationData,
    audioBlob,
    renderer: "svg",
    durationPx,
    debug: isDev,
    logger,
  });

  animation.on("complete", () => {
    logger.log("Animation complete");
    if (button) {
      button.textContent = animation.isPaused ? "Play" : "Pause";
    }
  });

  const button = document.querySelector("[data-lottie-trigger]");

  button?.addEventListener("click", () => {
    animation.toggle();
    button.textContent = animation.isPaused ? "Play" : "Pause";
  });
</script>

<style lang="scss"></style>
