<button
  data-lottie-trigger
  class="fixed top-0 l-0 cursor-pointer p-2 z-10"
  aria-label="Play"
>
  Play
</button>

<div data-lottie-container class="">
  <div data-lottie-animation class="h-dvh"></div>
</div>

<script>
  import {
    LottieScrollTrigger,
    fetchLottieData,
  } from "../../lib/miami/lottie-scroll";
  import { fetchAudioTrack } from "../../lib/miami/audio";

  const isDev = import.meta.env.MODE === "development";

  const logger = {
    log: (...args: any[]) => {
      if (isDev) {
        console.log(...args);
      }
    },
  };

  const [audio, animationData] = await Promise.all([
    fetchAudioTrack("/miami/traccia.mp3"),
    fetchLottieData("/miami/lottie-no-audio.json"),
  ]);

  const animation = new LottieScrollTrigger({
    containerTarget: "[data-lottie-container]",
    animationTarget: "[data-lottie-animation]",
    animationData,
    audioBlob: audio,
    renderer: "svg",
    durationPx: 10000,
    debug: isDev,
    logger,
  });

  const button = document.querySelector("[data-lottie-trigger]");

  button?.addEventListener("click", () => {
    if (animation.isPaused) {
      animation.play();
      button.textContent = "Pause";
    } else {
      animation.pause();
      button.textContent = "Play";
    }
  });
</script>

<style lang="scss"></style>
