<button
  data-lottie-trigger
  class="fixed top-0 l-0 cursor-pointer px-4 py-2 z-10 bg-white text-black rounded-sm m-2"
  aria-label="Play"
>
  Play
</button>

<div data-lottie-container class="">
  <div data-lottie-animation class="h-dvh">
    <!-- <div class="relative bg-[yellow] h-[1000px]"></div> -->
  </div>
</div>

<script>
  import {
    LottieScrollTrigger,
    fetchLottieData,
  } from "@lib/miami/lottie-scroll";
  import { fetchAudioTrack } from "@lib/miami/audio";

  const isDev = import.meta.env.MODE === "development";
  const logger = {
    log: (...args: any[]) => {
      if (isDev) {
        console.log(...args);
      }
    },
  };

  async function init() {
    const [audioBlob, animationData] = await Promise.all([
      fetchAudioTrack("/miami2/traccia.mp3"),
      fetchLottieData("/miami2/lottie.json"),
    ]);

    logger.log("Data loaded", audioBlob, animationData);

    const animation = new LottieScrollTrigger({
      containerTarget: "[data-lottie-container]",
      animationTarget: "[data-lottie-animation]",
      animationData,
      audioBlob,
      renderer: "svg",
      durationPx: 3000,
      debug: isDev,
      logger,
      assetsPath: "/miami2/images/",
    });

    return animation;
  }

  const button = document.querySelector("[data-lottie-trigger]");

  if (button) {
    const animation = await init();

    animation.on("complete", () => {
      logger.log("Animation complete");
      if (button) {
        button.textContent = animation.isPaused ? "Play" : "Pause";
      }
    });

    button?.addEventListener("click", () => {
      animation.toggle();
      button.textContent = animation.isPaused ? "Play" : "Pause";
    });
  }
</script>
