<img
	class="miami-loading-bg absolute bottom-0 left-0 right-0 top-0 h-full w-full object-cover"
	src="/miami/loading/bg-1.webp"
	fetchpriority="high"
/>

<div
	id="miami-loading-container"
	class="absolute bottom-0 left-0 right-0 top-0 flex flex-col justify-between bg-cover"
>
	<div class="relative mx-auto w-10/12 max-w-[400px] pt-16 align-top">
		<img
			src="/miami/loading/lettere.webp"
			fetchpriority="high"
			alt="Chi ha paura dello sparviero?"
		/>
		<img
			src="/miami/loading/stella-sx.webp"
			fetchpriority="high"
			alt="stella"
			class="spin absolute bottom-0 left-[18%] top-16 m-auto h-[18%]"
		/>
		<img
			src="/miami/loading/stella-dx.webp"
			fetchpriority="high"
			alt="stella"
			class="spin spin--reverse absolute bottom-0 right-[18%] top-16 m-auto h-[16%]"
		/>
	</div>

	<div class="relative flex h-screen flex-col items-center justify-center">
		<!-- Contenuto principale centrato -->
		<img
			id="caricamento"
			fetchpriority="high"
			src="/miami/loading/caricamento.webp"
			class="pulse w-[300px] max-w-[70%] py-[7px]"
		/>

		<div id="progress-bar-container" class="ml-[15px] grid w-[320px] max-w-[80%]">
			<img
				id="progress-blank"
				fetchpriority="high"
				src="/miami/loading/progress-blank.webp"
				class="col-start-1 row-start-1 w-full"
			/>
			<img
				id="progress-red"
				fetchpriority="high"
				src="/miami/loading/progress-red.webp"
				class="z-10 col-start-1 row-start-1 w-full"
				style="clip-path: inset(0 100% 0 0)"
			/>
		</div>

		<button
			id="vai-animazione"
			class="rotate-animation mb-12 hidden w-[400px] max-w-[80%] rounded-md focus:outline-none"
		>
			<img src="/miami/loading/btn_via.webp" />
		</button>

		<!-- Primo footer -->
		<div
			id="link-video"
			class="z-999 fixed bottom-0 flex hidden w-full flex-col items-center bg-[#B3232F] py-4 text-white"
		>
			<p class="mb-1">
				Se hai problemi di visualizzazione
				<a href="/sparviero-video" target="_blank" class="text-center font-bold underline">
					clicca qui
				</a>
			</p>
		</div>
	</div>
</div>

<script is:inline>
	const progressFill = document.getElementById('progress-red');

	document.addEventListener('DOMContentLoaded', async () => {
		if (localStorage.getItem('sparviero_seen')) {
			document.getElementById('link-video').classList.remove('hidden');
		} else {
			localStorage.setItem('sparviero_seen', 'true');
		}
		// use bgs at stop motion

		document.addEventListener('miami-loading-progress', (event) => {
			const { percentage } = event.detail;
			if (percentage >= 99) {
				document.getElementById('progress-bar-container').classList.add('hidden');
				return;
			}

			if (progressFill) progressFill.style.clipPath = `inset(0 ${100 - percentage}% 0 0)`;
		});
	});
</script>

<style lang="scss">
	@keyframes pulse {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	@keyframes spin-with-pause {
		0%,
		50% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.pulse {
		animation: pulse 2s infinite;
	}

	.spin {
		animation: spin-with-pause 2s ease-in-out infinite;
		&--reverse {
			animation-direction: reverse;
		}
	}

	@keyframes rotate-pulse {
		0%,
		45% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-2deg);
		}
		53% {
			transform: rotate(2deg);
		}
		55% {
			transform: rotate(-2deg);
		}
		57% {
			transform: rotate(2deg);
		}
		60%,
		100% {
			transform: rotate(0deg);
		}
	}

	.rotate-animation {
		animation: rotate-pulse 3s ease-in-out infinite; /* Aumenta la durata */
	}
</style>
