<img
  class="miami-loading-bg absolute hidden top-0 bottom-0 left-0 right-0 object-cover w-full h-full"
  src="/miami/loading/bg-1.webp"
/>
<img
  class="miami-loading-bg absolute hidden top-0 bottom-0 left-0 right-0 object-cover w-full h-full"
  src="/miami/loading/bg-2.webp"
/>

<div
  id="miami-loading-container"
  class="absolute bg-cover top-0 bottom-0 left-0 right-0 flex flex-col justify-between"
>
  <div class="mt-[64px]"></div>
  <div class="mx-auto w-10/12 mb-[80px] max-w-[800px] relative">
    <img
      src="/miami/loading/lettere.webp"
      alt="Chi ha paura dello sparviero?"
    />
    <img
      src="/miami/loading/stella-sx.webp"
      alt="stella"
      class="absolute top-0 bottom-0 m-auto spin h-[27%] left-[14%]"
    />
    <img
      src="/miami/loading/stella-dx.webp"
      alt="stella"
      class="absolute top-0 bottom-0 m-auto right-[14%] h-[25%] spin spin--reverse"
    />
  </div>
  <div class="mb-[80px] text-center flex justify-center">
    <img
      id="caricamento"
      src="/miami/loading/caricamento.webp"
      class="w-[270px] pulse max-w-[90%] py-[12.8px]"
    />
    <button
      id="vai-animazione"
      class="focus:outline-none hidden m-auto w-[270px] max-w-[90%] rounded-md"
    >
      <img src="/miami/loading/btn_via.webp" />
    </button>
  </div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", async () => {
    const bgs = document.getElementsByClassName("miami-loading-bg");
    // use bgs at stop motion
    let activeBg = 0;
    while (true) {
      bgs[activeBg].classList.remove("hidden");
      await new Promise((resolve) => setTimeout(resolve, 200));
      bgs[activeBg].classList.add("hidden");
      activeBg += 1;
      activeBg %= bgs.length;
    }
  });
</script>

<style lang="scss">
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes spin-with-pause {
    0%,
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .pulse {
    animation: pulse 2s infinite;
  }

  .spin {
    animation: spin-with-pause 2s ease-in-out infinite;
    &--reverse {
      animation-direction: reverse;
    }
  }
</style>
