<img
	class="miami-loading-bg absolute bottom-0 left-0 right-0 top-0 hidden h-full w-full object-cover"
	src="/miami/loading/bg-1.webp"
	fetchpriority="high"
/>
<img
	class="miami-loading-bg absolute bottom-0 left-0 right-0 top-0 hidden h-full w-full object-cover"
	src="/miami/loading/bg-2.webp"
/>

<div
	id="miami-loading-container"
	class="absolute bottom-0 left-0 right-0 top-0 flex flex-col justify-between bg-cover"
>
	<div class="align-top relative pt-16 mx-auto w-10/12 max-w-[400px]">
		<img
			src="/miami/loading/lettere.webp"
			fetchpriority="high"
			alt="Chi ha paura dello sparviero?"
		/>
		<img
			src="/miami/loading/stella-sx.webp"
			fetchpriority="high"
			alt="stella"
			class="spin absolute bottom-0 left-[18%] top-16 m-auto h-[18%]"
		/>
		<img
			src="/miami/loading/stella-dx.webp"
			fetchpriority="high"
			alt="stella"
			class="spin spin--reverse absolute bottom-0 right-[18%] top-16 m-auto h-[16%]"
		/>
	</div>
	<div class="h-screen flex flex-col justify-center items-center relative">
		<!-- Contenuto principale centrato -->
		<img
			id="caricamento"
			fetchpriority="high"
			src="/miami/loading/caricamento.webp"
			class="pulse w-[240px] max-w-[90%] py-[12.8px]"
		/>
		<button
			id="vai-animazione"
			class="hidden w-[400px] max-w-[90%] rounded-md focus:outline-none rotate-animation"
		>
			<img src="/miami/loading/btn_via.webp" />
		</button>
	
		<!-- Primo footer -->
		<div class="bg-[#B3232F] text-white py-4 w-full fixed bottom-0 flex flex-col items-center">
			<p class="mb-1 text-center">Se hai problemi di visualizzazione</p>
			<a
				href="/sparviero-video" target="_blank"
				id="link-video"
				class="bg-white text-[#D11C2B] py-1.5 px-4 rounded-[8px] font-bold text-center"
			>
				passa alla versione video
			</a>
		</div>
	
		<!-- Secondo footer -->
		<div id="silenzioso" class="bg-[#B3232F] text-white py-3 w-full fixed bottom-0">
			<p class="text-white font-bold text-center">Ricorda di togliere il silenzioso</p>
		</div>
	</div>
	
</div>

<script is:inline>


	if (/iPad|iPhone|iPod/.test(navigator.userAgent) == false) {
		const silenziosoEl = document.getElementById('silenzioso');
		silenziosoEl.style.display = 'none';
	} 



	document.addEventListener('DOMContentLoaded', async () => {
		const bgs = document.getElementsByClassName('miami-loading-bg');
		if (localStorage.getItem('sparviero_seen')) {
			document.getElementById('link-video').classList.remove('hidden');
		} else {
			localStorage.setItem('sparviero_seen', 'true');
		}
		// use bgs at stop motion
		let activeBg = 0;
		while (bgs[activeBg]) {
			bgs[activeBg].classList.remove('hidden');
			await new Promise((resolve) => setTimeout(resolve, 200));
			if (!bgs[activeBg]) break;
			bgs[activeBg].classList.add('hidden');
			activeBg += 1;
			activeBg %= bgs.length;
		}
	});
</script>

<style lang="scss">
	@keyframes pulse {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
	}

	@keyframes spin-with-pause {
		0%,
		50% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.pulse {
		animation: pulse 2s infinite;
	}

	.spin {
		animation: spin-with-pause 2s ease-in-out infinite;
		&--reverse {
			animation-direction: reverse;
		}
	}

	@keyframes rotate-pulse {
		0%, 45% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-2deg);
		}
		53% {
			transform: rotate(2deg);
		}
		55% {
			transform: rotate(-2deg);
		}
		57% {
			transform: rotate(2deg);
		}
		60%, 100% {
			transform: rotate(0deg);
		}
	}

	.rotate-animation {
		animation: rotate-pulse 3s ease-in-out infinite; /* Aumenta la durata */
	}
</style>
