<div
  id="miami-loading-container"
  class="absolute bg-cover top-0 bottom-0 left-0 right-0 flex flex-col justify-between"
>
  <div class="mt-[64px]"></div>
  <div class="mx-auto w-10/12 mb-[80px] max-w-[800px] relative">
    <img
      src="/miami/loading/lettere.webp"
      alt="Chi ha paura dello sparviero?"
    />
    <img
      src="/miami/loading/stella-sx.webp"
      alt="stella"
      class="absolute top-0 bottom-0 m-auto spin h-[27%] left-[14%]"
    />
    <img
      src="/miami/loading/stella-dx.webp"
      alt="stella"
      class="absolute top-0 bottom-0 m-auto right-[14%] h-[25%] spin spin--reverse"
    />
  </div>
  <div class="mb-[80px] text-center">
    <p id="caricamento" class="pulse w-full flex justify-center">
      <img src="/miami/loading/caricamento.webp" class="w-[270px]" />
    </p>
    <button
      id="vai-animazione"
      class="focus:outline-none hidden m-auto rounded-md"
    >
      <img src="/miami/loading/btn_via.webp" class="w-[270px]" />
    </button>
  </div>
</div>

<style lang="scss">
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes spin-with-pause {
    0%,
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes bg-stop-motion {
    0% {
      background-image: url("/miami/loading/bg-1.webp");
    }
    49% {
      background-image: url("/miami/loading/bg-1.webp");
    }
    50% {
      background-image: url("/miami/loading/bg-2.webp");
    }
    99% {
      background-image: url("/miami/loading/bg-2.webp");
    }
    100% {
      background-image: url("/miami/loading/bg-1.webp");
    }
  }

  .pulse {
    animation: pulse 2s infinite;
  }

  .spin {
    animation: spin-with-pause 2s ease-in-out infinite;
    &--reverse {
      animation-direction: reverse;
    }
  }

  #miami-loading-container {
    animation: bg-stop-motion 0.5s linear infinite;
  }
</style>
