<button
  data-lottie-trigger
  class="fixed top-0 l-0 cursor-pointer p-2 z-10"
  aria-label="Play"
>
  Play
</button>

<div data-lottie-container class="">
  <div data-lottie-animation class="h-dvh"></div>
</div>

<script>
  import { Howl } from "howler";
  import {
    LottieScrollTrigger,
    fetchLottieData,
  } from "../../lib/miami/lottie-scroll";
  import { fetchAudioTrack } from "../../lib/miami/audio";

  const [audio, animationData] = await Promise.all([
    fetchAudioTrack("/miami/traccia.mp3"),
    fetchLottieData("/miami/test-1.json"),
  ]);

  const audioLayer = new Howl({
    src: [audio],
    format: ["mp3"],
    volume: 1,
    html5: true,
  });

  const animation = LottieScrollTrigger({
    containerTarget: "[data-lottie-container]",
    animationTarget: "[data-lottie-animation]",
    animationData,
    audioLayer,
    renderer: "svg",
    durationPx: 10000,
  });

  const button = document.querySelector("[data-lottie-trigger]");

  button?.addEventListener("click", () => {
    if (audioLayer.playing()) {
      audioLayer.pause();
      animation.pause();
      button.textContent = "Play";
    } else {
      audioLayer.play();
      animation.play();
      button.textContent = "Pause";
    }
  });
</script>

<style lang="scss"></style>
