---
import "@styles/main.scss";
import type { TypePageSkeleton } from "@lib/generated/contentful";
import type { Entry } from "@lib/types";
import Head from "@components/Head.astro";
import Grain from "@components/Grain.astro";
import ConsoleArt from "@components/ConsoleArt.astro";
import IntroAnimation from "@components/IntroAnimation.astro";
import GoogleTagManagerNoScript from "@components/GoogleTagManagerNoScript.astro";

type Props = Entry<TypePageSkeleton> & { introAnimation?: boolean };

const PROD = !import.meta.env.DEV;

const page = Astro.props;

const showIntro = page.introAnimation ?? true;
---

<html lang="it">
  <Head {...page} />
  <body class="bg-black text-white relative min-h-screen">
    {PROD && <GoogleTagManagerNoScript />}
    <Grain />
    {showIntro && <IntroAnimation />}
    <main>
      <slot />
    </main>
    <ConsoleArt />
  </body>
</html>
